.VSCodeCounter/
bin/
obj/
breakpoints.txt
run_gdb.cmd
*.exe

fix-emitted-code.vbs
Makefile
setenv.cmd
setenv2.cmd
setenv.sh

CreateMakefile/*.c
CreateMakefile/*.asm
CreateMakefile/*.o
src/*.c
src/*.asm
src/*.o
